.item-title {
  position: relative;
  left: 30px;
  min-height: 36px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    min-height: 36px;
    background-color: color(primary)
  }

  &--invert-line {
    color: color(white);

    &::before {
      background-color: color(white)
    }
  }

  &--invert {
    color: color(white);
  }
}

.item-title__descr {
  margin: 0;
  margin-top: 10px;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
}
