mixin picture(data)
    +el({
        tag: 'picture',
        class: 'picture',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        source(media="(min-width: 1220px)" srcset='./assets/images/' + data.large + '@1x.webp 1x, ./assets/images/' + data.large + '@2x.webp 2x' type='image/webp')
        source(media="(min-width: 1220px)" srcset='./assets/images/' + data.large + '@1x.' + data.exp + ' 1x, ./assets/images/' + data.large + '@2x.' + data.exp + ' 2x')
        source(media="(min-width: 420px)" srcset='./assets/images/' + data.medium + '@1x.webp 1x, ./assets/images/' + data.medium + '@2x.webp 2x' type='image/webp')
        source(media="(min-width: 420px)" srcset='./assets/images/' + data.medium + '@1x.' + data.exp + ' 1x, ./assets/images/' + data.medium + '@2x.' + data.exp + ' 2x')
        source(srcset='./assets/images/' + data.small + '@1x.webp 1x, ./assets/images/' + data.small + '@2x.webp 2x' type='image/webp')
        img(src='./assets/images/' + data.small + '@1x.' + data.exp srcset='./assets/images/' + data.small + '@2x.' + data.exp + ' 2x' alt=data.alt ? data.alt : '')
