.equipment-view {

}

.equipment-view__col {
  margin-bottom: 30px;
}

.equipment-view__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center)
}

.equipment-view__heading {
  margin-bottom: 24px;
  padding-left: 0;
  font-size: 20px;

  &::before {
    display: none;
  }
}

.equipment-view__panel {
  margin-bottom: 30px;
}

.equipment-view__button-group {
  margin-bottom: 30px;
}

.equipment-view__button {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(medium) {
  .equipment-view__button-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .equipment-view__button {
    width: auto;
    margin-bottom: 0;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &--price {
      flex-grow: 1;
      max-width: 225px;
    }
  }

  .equipment-view__row {
    margin-bottom: 10px;
  }

  .equipment-view__heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

@include respond-to(medium-lg) {
  .equipment-view__row {
    display: flex;
    flex-wrap: wrap;
  }

  .equipment-view__image-wrap {
    flex-grow: 1;
    max-height: 600px;
  }

  .equipment-view__col {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &--left {
      width: 50%;
      margin-right: 50px;
    }

    &--right {
      width: calc(50% - 50px);
    }
  }

  .equipment-view__button-group {
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
  }

  .equipment-view__button {
    margin-right: 20px;
  }
}

@include respond-to(large) {
  .equipment-view__row {
    margin-bottom: 30px;
  }

  .equipment-view__col {
    &--left {
      width: 585px;
      margin-right: 90px;
    }

    &--right {
      width: breakpoints(large) - pads(large) * 2 - 585px - 90px;
    }
  }

  .equipment-view__heading {
    margin-bottom: 34px;
    font-size: 30px;
  }
}
