.products__list {
  margin: 0;
  padding: 0;
}

.products__item {
  margin-bottom: 2px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(medium) {
  .products__wrap {
    padding-left: pads(medium);
    padding-right: pads(medium);
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1px;
  }

  .products__item {
    width: 20%;
    max-width: 197px;
    padding: 0 1px;
  }
}

@include respond-to(large) {
  .products__wrap {
    width: breakpoints(large);
    margin-left: auto;
    margin-right: auto;
    padding-left: pads(large);
    padding-right: pads(large);
  }

  .products__item {
    width: auto;
  }
}
