mixin products(data)
    -
        var products = [
            {
                icon: 'screw',
                text: 'Сервисное обслуживание (пост)гарантийный ремонт',
            },
            {
                icon: 'tools',
                text: 'Дорожно-строительная техника'
            },
            {
                icon: 'sweeper',
                text: 'Поломоечное оборудование'
            },
            {
                icon: 'motor',
                text: 'Запасные части и&nbsp;расходные материалы'
            },
            {
                icon: 'lift',
                text: 'Складская техника от производителей',
            },
        ]

    +el({
        class: 'products',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .products__wrap
            +el({
                tag: 'ul',
                class: 'products__list',
            })
                each item in products
                    +el({
                        tag: 'li',
                        class: 'products__item',
                    })
                        +products-item({
                            icon: item.icon,
                            text: item.text,
                            mod: item.mod
                        })
