mixin intro(data)
    +el({
        tag: 'section',
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .intro__wrap
            .intro__heading-wrap
                +el({
                    tag: 'h1',
                    mix: 'intro__heading',
                    text: 'Надежная спецтехника для&nbsp;успешного строительства'
                })
                +el({
                    tag: 'p',
                    mix: 'intro__subheading',
                    text: '<span class="lg">Крупнейший поставщик техники</span> <br>DOOSAN, DIECI, SUNWARD, UMG, LIUGONG, МЕРКАТОР <span class="sm">более 10&nbsp;лет</span>'
                })(style="text-transform: uppercase;")
            +button({
                mix: 'intro__btn',
                mod: ['bg-primary', 'large'],
                text: 'Скачать прайс',
            })
