extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var pageId = 9

block content
    main.content.content--no-bottom-space
        .content__wrap
            h1.content__heading Контакты
            +panel-with-tabs({
                mix: 'content__contacts',
                tabs: ['Город Уфа', 'Город Краснодар']
            })
                append content1
                    +shedule({
                        mix: 'panel-with-tabs__shedule',
                        items: shedule1
                    })
                append content2
                    +shedule({
                        mix: 'panel-with-tabs__shedule',
                        items: shedule2
                    })
        +map({
        })
