include ./templates/head.pug

doctype html
html(lang="ru-RU")
    +head()

    .content.content--regular
      .content__wrap
        ul
            li
                a(href="main.html") Главная
            li
                a(href="tecknica.html") Техника
            li
                a(href="reviews.html") Отзывы
            li
                a(href="news-list.html") Новости
            li
                a(href="equipment.html") Страница вывода товаров
