extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'

block content
    main.content.content--regular
      .content__wrap
        ul
            li
                a(href="main.html") Главная
            li
                a(href="tecknica.html") Техника
            li
                a(href="reviews.html") Отзывы
            li
                a(href="news.html") Новости
            li
                a(href="news-view.html") Новость
            li
                a(href="service.html") Сервис
            li
                a(href="equipment.html") Страница вывода товаров
            li
                a(href="equipment-view.html") товар
            li
                a(href="vacancy.html") Вакансии
            li
                a(href="contacts.html") Контакты
            li
                a(href="about.html") О компании
            li
                a(href="lizing.html") Лизинг
            li
                a(href="Components.html") Компоненты
