include ./templates/head.pug

doctype html
html(lang="ru-RU")
    +head()

    .content.content--regular
      .content__wrap
        ul
          li
            a(href="main.html") Главная
        li
          a(href="tecknica.html") Техника
