extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var main = true
    - var pageId = 1
    -
        var brends = [
            {
                image: 'umg.jpg',
                mod: '',
            }, {
                image: 'sunward.png',
                mod: 'shift-top',
            },{
                image: 'xcmg.png',
                mod: 'shift-top',
            },{
                image: 'dieci.png',
                mod: '',
            },{
                image: 'liugong.jpg',
                mod: '',
            },{
                image: 'disd.jpg',
                mod: '',
            },{
                image: 'doosan.jpg',
                mod: 'lg',
            },{
                image: 'felix.png',
                mod: '',
            }, {
                image: 'umg.jpg',
                mod: '',
            }, {
                image: 'sunward.png',
                mod: 'shift-top',
            },{
                image: 'xcmg.png',
                mod: 'shift-top',
            },{
                image: 'dieci.png',
                mod: '',
            },{
                image: 'liugong.jpg',
                mod: '',
            },{
                image: 'disd.jpg',
                mod: '',
            },{
                image: 'doosan.jpg',
                mod: 'lg',
            },{
                image: 'felix.png',
                mod: '',
            }
        ]

block content
    main
        +intro({})
        +goods-list({
            mix: 'content__section content__section--goods-list'
        })
        +main-section({
            heading: 'Официальный дистрибьютер брендов',
        })
            +slider-brends({})
        +main-section({
            heading: 'Большой ассортимент техники',
            subheading: 'под любую вашу задачу',
            mod: ['bg-light', 'assortiment'],
        })
            +assortiment({})
        +main-section({
            heading: 'Высокое качество нашего сервиса',
            subheading: 'подтверждается доверием крупнейших компаний страны',
            mod: 'slider-company',
        })
            +slider-company({})
        +main-section({
            heading: 'Наши преимущества',
            mod: ['features'],
        })
            +features({})
        +recommend({})
