extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var main = true
    - var pageId = 1

block content
    main
        +intro({})
        +goods({
            mix: 'content__goods-list'
        })
        +main-section({
            heading: 'Официальный дистрибьютер брендов',
        })
            +slider-brends({
                items: brendsMain,
                mix: 'wow fadeInUp',
            })(data-wow-delay='0.2s')
        +main-section({
            heading: 'Большой ассортимент техники',
            subheading: 'под любую вашу задачу',
            mod: ['bg-light', 'assortiment'],
        })
            +assortiment({})
        +main-section({
            heading: 'Высокое качество нашего сервиса',
            subheading: 'подтверждается доверием крупнейших компаний страны',
            mod: 'slider-company',
        })
            +slider-company({
                mix: 'wow fadeInUp',
            })
        +main-section({
            heading: 'Наши преимущества',
            mod: ['features'],
        })
            +features({})
        +reference({
            number: true,
            mod: 'recomendation',
            form: {
              heading: 'Заполните форму и получите бесплатно статью',
              subheading: '"10 причин выбирать технику Дусан"',
              submit: 'Получить рекомендации',
            }
        })
