extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var pageId = 8
    -
        var news = [
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
            {
                image: 'news01.jpg',
                date: '25 ноября 2018 года | 18:35',
                heading: 'Открытие нового завода спех. техники в Москве',
                text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
            },
        ];

block content
    main.content
        .content__wrap
            h1 Новости
            +news-list({
                items: news,
            })
            +pagination({
                mix: 'content__pagination content__pagination--space-after'
            })
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum Lorem ipsum dolor sit amet
            p.
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum
