extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var pageId = 2
    -
        var reviews = [
            {
                image: 'reviews01.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate ',
            },
            {
                image: 'reviews02.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate',
            },
            {
                image: 'reviews01.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate ',
            },
            {
                image: 'reviews02.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate',
            },
            {
                image: 'reviews01.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate ',
            },
            {
                image: 'reviews02.jpg',
                heading: 'Иванов Сергей Иванович',
                subheading: 'Санкт-Петербург',
                text: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate',
            },

        ];

block content
    main.content
        .content__wrap
            h1 Отзывы
            +reviews({
                items: reviews,
            })
            +pagination({
                mix: 'content__pagination'
            })
