extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var pageId = 2

block content
    main.content
        .content__wrap
            h1.content__heading Отзывы
            +reviews({
                items: reviews,
            })
            +pagination({
                mix: 'content__pagination content__pagination--space-before'
            })
