mixin reviews-list(data)
    +el({
        tag: 'ul',
        class: 'reviews-list',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in data.items
            li.reviews-list__item
                +reviews-item({
                    image: item.image,
                    heading: item.heading,
                    subheading: item.subheading,
                    text: item.text
                })
