.breadcrumbs__list {
  margin-bottom: 0;
  padding: 0;
  line-height: 1.5;
}

.breadcrumbs__item {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
  margin-right: 8px;
  font-size: 16px;
  @include list-no;

  &:last-child {
    margin-right: 0;

    .breadcrumbs__link {
      pointer-events: none;
      opacity: 0.6;

      &::after {
        display: none;
      }
    }
  }
}

.breadcrumbs__link {
  position: relative;
  display: block;
  padding-right: 15px;
  text-decoration: none;

  &::after {
    content: "/";
    position: absolute;
    right: 0;
    top: 0;
  }

  @include hover {
    text-decoration: underline;
  }
}
//
// @include respond-to {
//
// }
