.header__top {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: color(white);

  .header__wrap {
    @include wrapper;
  }

  .header__company-block {
    .header__company {
      &--info {
        max-width: 340px;
      }

      &--address {
        display: none;
      }

      &--phone {
        display: none;
      }
    }
  }
}

.header__logo {
  margin-bottom: 15px;
}

.header__company-right {
  display: none;
}

.header__btn-nav {
  position: fixed;
  top: 24px;
  right: 10px;
  z-index: 11;
}

.header__bottom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: rgba(#000, 0.8);

  &.active {
    display: flex;
  }

  .header__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .header__company-block {
    margin-top: auto;
    padding-left: pads(small) + 10px;
    padding-right: pads(small);
    padding-top: 20px;
    color: color(white);
    border-top: 1px solid rgba(color(white), 0.15);

    .header__company {
      &--phone {
        margin-top: 10px;
      }
    }
  }
}

.header__main-nav {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 pads(small);
  color: color(white);
}

@include respond-to(medium) {
  .header__logo {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .header__top {
    .header__wrap {
      display: flex;
      align-items: center;
    }
  }
}

@include respond-to(large) {
  .header__top {
    .header__company-block {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .header__company {
        &--info {
          margin-right: auto;
        }

        &--address {
          display: block;
          margin-right: 30px;
          text-align: right;
        }

        &--phone {
          display: block;
          text-align: right;
        }
      }
    }
  }

  .header__btn-nav {
    display: none;
  }

  .header__bottom {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    background-color: color(white);
    overflow-y: visible;

    .header__company-block {
      display: none;
    }

    .header__wrap {
      width: breakpoints(large);
      margin-left: auto;
      margin-right: auto;
      padding-left: pads(large) - 10px;
      padding-right: pads(large) - 10px;
    }
  }

  .header__main-nav {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    color: color(black);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: color(light);
    }
  }
}
