.overlay {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  z-index: -1;
  background-color: rgba(color(black), 0.5);
  opacity: 0;
  transition-property: width, height, margin, opacity;
  transition-delay: 0.6s, 0.6s, 0.6s, 0s;
  transition-duration: 0s, 0s, 0s, 0.6s;

  &.active {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0;
    opacity: 1;
    transition-delay: 0s;
  }
}
