.form__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__field {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__personal {
  margin-top: 12px
}

.form__submit {
  margin-top: 12px;

  .btn {
    width: 100%;
    cursor: pointer;
  }
}

@include respond-to(520px) {
  .form__group {
    display: flex;
  }

  .form__field {
    width: calc(100% - 10px);
    margin-bottom: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include respond-to(large) {

}
