.content {

}

.content__wrap {
  @include wrapper;
}

.content__breadcrumbs {
}

.content__heading {
}

.content__section {

}

@include respond-to(medium) {
  .content__section {
    &--products {
      position: relative;
      z-index: 1;
      margin-top: -95px;
    }
  }

  .content__aside {

  }

  .content__heading {
  }

}

@include respond-to(large) {
  .content__section {
    &--products {
      margin-top: -95px;
    }
  }
}
