mixin eqiupment(data)
    +el({
        tag: 'ul',
        class: 'equipment',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in data.items
            li.equipment__item
                +equipment-item({
                    image: item.image,
                    heading: item.heading,
                    href: 'equipment-view.html'
                })
