.equipment {
  margin: 0;
  padding: 0;
}

.equipment__item {
  margin-bottom: 20px;
  @include list-no;
}

@include respond-to(small-lg) {
  .equipment {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .equipment__item {
    width: 50%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include respond-to(medium-lg) {
  .equipment__item {
    width: 50%;
  }
}

@include respond-to(1120px) {
  .equipment__item {
    width: 33.33%;
  }
}
