.button {
  display: block;
  flex-shrink: 0;

  &--large,
  &--small {
    text-align: center;
    text-decoration: none;
  }

  &--large {
    padding: 14px 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &--small {
    padding: 12px 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
  }

  &--bg-primary,
  &--bg-disabled {
    color: color(white);
  }

  &:disabled,
  &--bg-disabled {
    pointer-events: none;
  }

  &--bg-primary {
    background-color: color(primary);

    @include hover {
      background-color: darken(color(primary), $change-color);
    }
  }

  &--border-primary {
    border: 2px solid color(primary);
    color: color(primary);

    @include hover {
      background-color: color(primary);
      color: color(white);
    }
  }

  &--large {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
  }

  &--submit {
    display: block;
  }
}

@include respond-to(medium) {
  .button {
    &--large {
      padding: 16px 30px;
      font-size: 17px;
      line-height: 21px;
    }
  }
}

@include respond-to(large) {
  .button {
    &--large {
      padding: 18px 35px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
