.button {
  display: block;
  flex-shrink: 0;
  cursor: pointer;

  &--large,
  &--small,
  &--transparent-primary {
    text-align: center;
    text-decoration: none;
  }

  &--large {
    padding: 12px 32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &--small {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
  }

  &--bg-primary,
  &--bg-disabled {
    color: color(white);
  }

  &:disabled,
  &--bg-disabled,
  &--border-disabled {
    pointer-events: none;
    cursor: default;
  }

  &--bg-disabled {
    border: 2px solid color(light-gray);
    background-color: color(light-gray);
    color: color(white);
  }

  &--bg-primary {
    border: 2px solid color(primary);
    background-color: color(primary);

    @include hover {
      background-color: darken(color(primary), $change-color);
    }
  }

  &--border-disabled {
    border: 2px solid color(light-gray);
    color: color(light-gray);
  }

  &--border-primary {
    border: 2px solid color(primary);
    color: color(primary);

    @include hover {
      background-color: color(primary);
      color: color(white);
    }
  }

  &--large {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: none;
  }

  &--submit {
    display: block;
  }

  &--transparent-primary {
    padding: 4px;
    color: color(primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    .button__icon {
      fill: color(primary);
    }

    @include hover {
      opacity: 0.6;
    }
  }

  &--with-icon-after,
  &--with-icon-before {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--with-icon-after {
    .button__icon {
      margin-left: 15px;
    }
  }

  &--with-icon-before {
    .button__icon {
      margin-right: 15px;
    }
  }
}

.button__icon {
  display: block;
  width: 18px;
  height: 18px;
}

@include respond-to(medium) {
  .button {
    &--large {
      padding: 14px 33px;
      font-size: 17px;
      line-height: 21px;
    }

    &--transparent {
      font-size: 15px;
    }
  }
}

@include respond-to(large) {
  .button {
    &--large {
      padding: 16px 38px;
      font-size: 18px;
      line-height: 22px;
    }

    &--transparent {
      font-size: 16px;
    }
  }
}
