mixin button(data)
    if data.type == 'submit'
        +el({
            tag: 'label',
            class: 'button',
            mod: data.mod,
            mix: data.mix,
            js: data.js,
        })
            +el({
                tag: 'input',
                class: 'hidden',
                type: 'submit',
                disabled: data.disabled,
            })&attributes(attributes)
            | #{data.text}
    else
        +el({
            tag: data.tag ? data.tag : 'button',
            class: 'button',
            mod: data.mod,
            mix: data.mix,
            js: data.js,
            type: data.type,
            text: data.text,
            before: data.before,
            after: data.after,
            target: data.target,
        })&attributes(attributes)
            if data.icon
                +el({
                    tag: 'span',
                    class: 'button__icon',
                })
                    +el({
                        tag: 'svg',
                        icon: data.icon,
                    })
            if data.cross
                +cross({
                    mix: 'button__cross',
                })
