include ./el.pug
include ./head.pug
include ./scripts.pug

include ../blocks/logo/logo.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/radio-button/radio-button.pug
include ../blocks/field/field.pug
include ../blocks/button/button.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-remove/button-remove.pug
include ../blocks/list/list.pug
include ../blocks/overlay/overlay.pug
include ../blocks/company/company.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/header/header.pug
include ../blocks/intro/intro.pug
include ../blocks/main-section/main-section.pug
include ../blocks/item/item.pug
include ../blocks/products/products.pug
include ../blocks/products-item/products-item.pug
include ../blocks/brend-list/brend-list.pug
include ../blocks/brend-item/brend-item.pug
include ../blocks/service-list/service-list.pug
include ../blocks/recommend/recommend.pug
include ../blocks/footer/footer.pug
include ../blocks/form/f.pug
include ../blocks/form/form.pug
include ../blocks/form-card/form-card.pug
include ../blocks/form-content/form-content.pug
include ../blocks/assortiment/assortiment.pug
include ../blocks/assortiment-item/assortiment-item.pug
include ../blocks/item-title/item-title.pug
include ../blocks/features/features.pug
include ../blocks/features-item/features-item.pug
include ../blocks/slider-company/slider-company.pug
include ../blocks/slider-brends/slider-brends.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/button-control/button-control.pug
include ../blocks/control/control.pug
include ../blocks/reviews/reviews.pug
include ../blocks/reviews-card/reviews-card.pug
include ../blocks/heading/heading.pug
include ../blocks/pagination/pagination.pug
