mixin scripts()
    script(src='./scripts/libs/jquery.js')
    script(src='./scripts/libs/imask.js')
    script(src='./scripts/libs/svg4everybody.js')
    script(src='./scripts/libs/ofi.js')
    script(src='./scripts/libs/slick.js')
    script(src='./scripts/libs/picturefill.js')
    script(src='./scripts/libs/wow.js')
    script(src='./scripts/scripts.js')
