.brend-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 136px;
  height: 60px;
  padding: 20px;
  background-color: color(white);
  box-shadow: 2px 2px 7px 0px rgba(#000, 0.2);

  &--shift-top {
    .slider-brends__logo {
      transform: translateY(-3px);
    }
  }

  &--lg {
    padding: 15px;
  }
}

.brend-item__logo {
  display: block;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}

@include respond-to(580px) {
  // .brend-item {
  //   display: flex;
  // }
}
