mixin brend-item(data)
    +el({
        tag: 'a',
        class: 'brend-item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
        text: data.text,
        target: '_blank'
    })(rel="nofollow noopener")
        +el({
            tag: 'img',
            class: 'brend-item__logo',
            image: 'brends/' + data.image
        })
