mixin brend-item(data)
    +el({
        class: 'brend-item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
        text: data.text
    })&attributes(attributes)
        +el({
            tag: 'img',
            class: 'brend-item__logo',
            image: 'brends/' + data.image
        })
