button {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  transition: duration(md);
  cursor: pointer;
}
