.recommend {
  position: relative;
  height: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #000;
  background-image: url('../assets/images/bg-recommend.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mask(rgba(#000, 0.7));
}

.recommend__wrap {
  position: relative;
  z-index: 1;
  @include wrapper;
}

.recommend__heading {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: color(white);
}

.recommend__heading,
.recommend__slogan {
  text-align: center;
}

.recommend__slogan {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 10px;
}

.recommend__number,
.recommend__descr {
  display: inline-block;
}

.recommend__number {
  margin-right: 8px;
  color: color(white);
  font-size: 76px;
  font-weight: 700;
  line-height: 1;
}

.recommend__descr {
  flex-grow: 1;
  position: relative;
  padding-left: 20px;
  color: color(white);
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 4px;
    width: 10px;
    background-color: color(primary);
  }
}

.recommend__arrow {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  width: 60px;
  height: 60px;
  fill: color(white);
  transform: translate(-50%);
}

@include respond-to(medium) {
  .recommend {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .recommend__wrap {
    display: flex;
    align-items: flex-start;
  }

  .recommend__text-wrap,
  .recommend__form-card {
    flex-shrink: 0;
    width: calc(50% - 10px);
  }

  .recommend__text-wrap {
    margin-right: 20px;
    transform: translateY(-4px);
  }

  .recommend__heading,
  .recommend__slogan {
    text-align: left;
  }

  .recommend__heading {
    font-size: 32px;
  }

  .recommend__slogan {
    margin-bottom: 0;
  }

  .recommend__arrow {
    left: 240px;
    transform: none;
  }
}

@include respond-to(medium-lg) {
  .recommend {
    padding-top: 80px;
    padding-bottom: 36px;
  }

  .recommend__slogan {
    padding-bottom: 70px;
  }

  .recommend__number {
    margin-right: 16px;
    font-size: 110px;
  }

  .recommend__descr {
    padding-left: 32px;
    font-size: 28px;
    line-height: 32px;

    &::before {
      top: 6px;
      bottom: 6px;
      width: 14px;
    }
  }

  .recommend__arrow {
    left: 350px;
    width: 70px;
    height: 70px;
  }
}

@include respond-to(large) {
  .recommend {
    padding-top: 100px;
    padding-bottom: 46px;
  }

  .recommend__text-wrap {
    width: 580px;
  }

  .recommend__heading {
    font-size: 36px;
  }

  .recommend__slogan {
    padding-bottom: 80px;
  }

  .recommend__number {
    margin-right: 20px;
    font-size: 130px;
  }

  .recommend__descr {
    padding-left: 40px;
    font-size: 30px;
    line-height: 36px;

    &::before {
      top: 4px;
      bottom: 4px;
      width: 16px;
    }
  }

  .recommend__arrow {
    left: 410px;
    width: 85px;
    height: 85px;
  }
}
