mixin tabs(data)
    +el({
        tag: 'ul',
        class: 'tabs',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        each item, index in data.items
            +el({
                tag: 'li',
                class: 'tabs__item',
                mix: index == 0 ? 'active' : '',
            })
                +el({
                    tag: 'button',
                    class: 'tabs__button',
                    js: 'tabs-button',
                    text: item,
                })(data-tab='tab-' + (index + 1))
