.field {
  display: block;
  width: 100%;
}

.field__label {
  font-size: 12px;
  line-height: 1;
  text-align: left;
  color: color(gray);
}

.field__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: color(light);
  color: color(black);
  font-size: 16px;
  line-height: 20px;
  caret-color: color(black);
  outline: none;

  &::placeholder {
    font-size: 14px;
    color: color(gray);
  }

  &:hover,
  &:focus,
  &.active {
    background-color: darken(color(light), 5%);
  }

  &--error:not(:focus) {
    border: 1px solid color(error);
    color: color(error);

    ~ .field__label {
      color: color(error);
    }
  }
}

@include respond-to(medium) {
  .field__input {
    height: 50px;
    padding: 15px 20px;
  }
}

@include respond-to(large) {
  .field__input {
    height: 56px;
    padding: 18px 20px;
  }
}
