mixin goods(data)
    -
        var goods = [
            {
                icon: 'screw',
                text: 'Сервисное обслуживание (пост)гарантийный ремонт',
            },
            {
                icon: 'tools',
                text: 'Дорожно-строительная техника'
            },
            {
                icon: 'sweeper',
                text: 'Поломоечное оборудование'
            },
            {
                icon: 'motor',
                text: 'Запасные части и&nbsp;расходные материалы'
            },
            {
                icon: 'lift',
                text: 'Складская техника от производителей',
            },
        ]

    +el({
        class: 'goods',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .goods__wrap
            +el({
                tag: 'ul',
                class: 'goods__list',
            })
                each item, index in goods
                    +el({
                        tag: 'li',
                        class: 'goods__item',
                        mix: 'wow fadeInUp'
                    })(data-wow-delay=0.6 + index * 0.2 + "s")
                        +goods-item({
                            icon: item.icon,
                            text: item.text,
                            mod: item.mod
                        })
