mixin features(data)
    -
        var features = [
            {
                heading: 'Первоначальный <br>взнос',
                text: 'от 10 до 50%  от стоимости техники',
            },
            {
                heading: 'Консультирование <br>клиентов',
                text: 'по выбору и оптимальному использованию техники',
            },
            {
                heading: 'Программа <br>trade in',
                text: 'Обмен своей старой техники по программе Trade In',
            },
            {
                heading: 'Гарантия на всю <br>технику',
                text: 'Гарантия на всю технику от производителя',
            },
            {
                heading: 'Комплексный подход <br>к задачам клиента',
                text: 'Мы уважаем наших клиентом и стараемся предоставить качественный сервис',
                mod: 'large'
            },
            {
                heading: 'Лизинг на выгодных <br>условиях',
                text: 'Срок лизинга от 1 до 5 лет без налога на имущество',
            },
            {
                heading: 'Большой спектр <br>дополнительных  услуг',
                text: 'Аренда, рассрочка, лизинг',
            },
            {
                heading: 'Работа с запасными <br>частями',
                text: 'Услуги по обслуживанию, ремонту и поставке запасных частей',
            },
            {
                heading: 'Большой выбор <br>техники',
                text: 'Более 100 единиц техники в наличии',
            },
        ]

    +el({
        tag: 'ul',
        class: 'features',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in features
            +el({
                tag: 'li',
                class: 'features__item',
                mod: item.mod
            })
                +features-item({
                    heading: item.heading,
                    text: item.text,
                    image: item.image,
                })
