$fonts: (
  primary: #{"Myriad", "Pragmatica", "Roboto", sans-serif, "Nimbus Sans L", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
);

$breakpoints: (
  small: 320px,
  small-lg: 520px,
  medium: 768px,
  medium-lg: 920px,
  large: 1220px,
);

$pads: (
  small: 30px,
  medium: 30px,
  large: 40px,
);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$colors: (
  primary: #0291c9,
  secondary: #077bad,
  light: #f7f7f5,
  light-gray: #c9c9c6,
  gray: #999,
  dark-gray: #ababab,
  black: #333,
  white: #fff,
  error: #d0021b,
  disabled: #c9c9c6,
);

// время анимаций
$durations: (
  md: 0.3s,
  lg: 0.6s,
);

// для бордер-радиусов
$radius: (
  sm: 5px,
);

$func: (
  primary: cubic-bezier(0.25, 0.1, 0.25, 1),
);

$mb: (
  sm: 20px,
  md: 22px,
  lg: 24px,
);

$change-color: 5%;
