-
    var specificationShort = [
        {
            name: 'Вес, кг',
            value: '17.000'
        },
        {
            name: 'Ширина, мм',
            value: '3.070'
        },
        {
            name: 'Длина, мм',
            value: '7.960'
        },
    ];

-
    var specification1 = [
        {
            name: 'Вес, кг',
            value: '17.000'
        },
        {
            name: 'Ширина, мм',
            value: '3.070'
        },
        {
            name: 'Длина, мм',
            value: '7.960'
        },
        {
            name: 'Ковш',
            value: '90kg'
        },
        {
            name: 'Двигатель',
            value: 'Weichai DEUTZ WP6G125E23'
        },
        {
            name: 'Мощность',
            value: '92kW/2300rpm'
        },
        {
            name: 'Коробка передачи',
            value: 'BS428 Hangzhou Advance Gearbox'
        },
        {
            name: 'Высота разгрузки',
            value: '3000mm'
        },
        {
            name: 'Расстояние разгрузки',
            value: '1056mm'
        },
        {
            name: 'Макс, вырывное усилие',
            value: '103kN'
        },
        {
            name: 'Макс.тяговая сила',
            value: '90kN'
        },
        {
            name: 'Макс. подъемопредолеваемость',
            value: '28°'
        },
        {
            name: 'Макс.скорость',
            value: '36km/h'
        },
        {
            name: 'Мини.радиус поворота ',
            value: '5755mm'
        },
        {
            name: 'Расстояние между колесами',
            value: '1865mm'
        },
        {
            name: 'Колея',
            value: '2845mm'
        },
        {
            name: 'Мин. расстояние от земли',
            value: '369mm'
        },
    ]
