-
    var shedule = [
        {
            heading: 'Руководитель',
            items: [
                {
                    icon: 'user',
                    heading: 'ФИО:',
                    text: 'Петров Игорь Александрович'
                },
                {
                    icon: 'tie',
                    heading: 'Должность:',
                    text: 'заместитель генерального директора'
                },
                {
                    icon: 'tel',
                    heading: 'Телефон:',
                    text: '<a class="no-underline" href="tel:+79111234567">+7 (911) 123 45 67</a>'
                },
                {
                    icon: 'email',
                    heading: 'E-mail:',
                    text: '<a class="no-underline" href="mailto:pochta.rabochaya@mail.ru">pochta.rabochaya@mail.ru</a>'
                },
                {
                    icon: 'location',
                    heading: 'Адрес:',
                    text: 'г. Симферополь, <br>ул. Мамеди Эмир-Усеина, 14'
                },
                {
                    icon: 'clock',
                    heading: 'График работы:',
                    text: 'Пн — Пт с 09:00 до 18:00, Сб, Вс — Выходной'
                },
            ]
        },
        {
            heading: 'Отдел сервиса',
            items: [
                {
                    icon: 'user',
                    heading: 'ФИО:',
                    text: 'Петров Игорь Александрович'
                },
                {
                    icon: 'tie',
                    heading: 'Должность:',
                    text: 'заместитель генерального директора'
                },
                {
                    icon: 'tel',
                    heading: 'Телефон:',
                    text: '<a class="no-underline" href="tel:+79111234567">+7 (911) 123 45 67</a>'
                },
                {
                    icon: 'email',
                    heading: 'E-mail:',
                    text: '<a class="no-underline" href="mailto:pochta.rabochaya@mail.ru">pochta.rabochaya@mail.ru</a>'
                },
                {
                    icon: 'location',
                    heading: 'Адрес:',
                    text: 'г. Симферополь, <br>ул. Мамеди Эмир-Усеина, 14'
                },
                {
                    icon: 'clock',
                    heading: 'График работы:',
                    text: 'Пн — Пт с 09:00 до 18:00, Сб, Вс — Выходной'
                },
            ]
        },
        {
            heading: 'Отдел запчастей',
            items: [
                {
                    icon: 'user',
                    heading: 'ФИО:',
                    text: 'Петров Игорь Александрович'
                },
                {
                    icon: 'tie',
                    heading: 'Должность:',
                    text: 'заместитель генерального директора'
                },
                {
                    icon: 'tel',
                    heading: 'Телефон:',
                    text: '<a class="no-underline" href="tel:+79111234567">+7 (911) 123 45 67</a>'
                },
                {
                    icon: 'email',
                    heading: 'E-mail:',
                    text: '<a class="no-underline" href="mailto:pochta.rabochaya@mail.ru">pochta.rabochaya@mail.ru</a>'
                },
                {
                    icon: 'location',
                    heading: 'Адрес:',
                    text: 'г. Симферополь, <br>ул. Мамеди Эмир-Усеина, 14'
                },
                {
                    icon: 'clock',
                    heading: 'График работы:',
                    text: 'Пн — Пт с 09:00 до 18:00, Сб, Вс — Выходной'
                },
            ]
        },
        {
            heading: 'Отдел продаж',
            items: [
                {
                    icon: 'user',
                    heading: 'ФИО:',
                    text: 'Петров Игорь Александрович'
                },
                {
                    icon: 'tie',
                    heading: 'Должность:',
                    text: 'заместитель генерального директора'
                },
                {
                    icon: 'tel',
                    heading: 'Телефон:',
                    text: '<a class="no-underline" href="tel:+79111234567">+7 (911) 123 45 67</a>'
                },
                {
                    icon: 'email',
                    heading: 'E-mail:',
                    text: '<a class="no-underline" href="mailto:pochta.rabochaya@mail.ru">pochta.rabochaya@mail.ru</a>'
                },
                {
                    icon: 'location',
                    heading: 'Адрес:',
                    text: 'г. Симферополь, <br>ул. Мамеди Эмир-Усеина, 14'
                },
                {
                    icon: 'clock',
                    heading: 'График работы:',
                    text: 'Пн — Пт с 09:00 до 18:00, Сб, Вс — Выходной'
                },
            ]
        },

    ];
