-
    var mainNav = [
        {
            text: 'О компании',
            href: 'main.html',
        },
        {
            text: 'Техника',
            href: 'tecknica.html',
        },
        {
            text: 'Доп. оборудование',
            href: '',
        },
        {
            text: 'Лизинг',
            href: '',
        },
        {
            text: 'Сервис',
            href: 'service.html',
        },
        {
            text: 'Отзывы',
            href: 'reviews.html',
        },
        {
            text: 'Вакансии',
            href: 'vacancy.html',
        },
        {
            text: 'Новости',
            href: 'news-list.html',
        },
        {
            text: 'Контакты',
            href: 'contacts.html',
        },
    ];
