-
    var eqiupment = [
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
        {
            image: 'eqiupment01.jpg',
            heading: 'Гусеничный экскаватор Doosan DX55LC'
        },
    ]
