-
    var asideNav = [
        {
            text: 'Экскаваторы',
            mix: 'active',
        },
        {
            text: 'Фронтальные погрузчики',
        },
        {
            text: 'Погрузчики вилочные',
        },
        {
            text: 'Погрузчики телескопические',
        },
        {
            text: 'Погрузчики с бортовым поворотом',
        },
        {
            text: 'Перегружатели',
        },
        {
            text: 'Самосвалы Moxy',
        },
        {
            text: 'Разрушители зданий',
        },
        {
            text: 'Техника для уборки помещений',
        },
        {
            text: 'Прочее',
        }
    ]
