-
    var news = [
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
        {
            image: 'news01.jpg',
            date: '25 ноября 2018 года | 18:35',
            heading: 'Открытие нового завода спех. техники в Москве',
            text: '25 ноября 2018 года прошло торжественное открытие нового завода прошло торжественное открытие нового завода',
        },
    ];
