-
    var brends = [
        {
            image: 'umg.jpg',
            mod: '',
        }, {
            image: 'sunward.png',
            mod: 'shift-top',
        },{
            image: 'xcmg.png',
            mod: 'shift-top',
        },{
            image: 'dieci.png',
            mod: '',
        },{
            image: 'liugong.jpg',
            mod: 'lg',
        },{
            image: 'disd.jpg',
            mod: '',
        },{
            image: 'doosan.jpg',
            mod: 'lg',
        },{
            image: 'felix.png',
            mod: '',
        },
    ]

-
    var brendsMain = [
        {
            image: 'umg.jpg',
            mod: '',
        }, {
            image: 'sunward.png',
            mod: 'shift-top',
        },{
            image: 'xcmg.png',
            mod: 'shift-top',
        },{
            image: 'dieci.png',
            mod: '',
        },{
            image: 'liugong.jpg',
            mod: '',
        },{
            image: 'disd.jpg',
            mod: '',
        },{
            image: 'doosan.jpg',
            mod: 'lg',
        },{
            image: 'felix.png',
            mod: '',
        }, {
            image: 'umg.jpg',
            mod: '',
        }, {
            image: 'sunward.png',
            mod: 'shift-top',
        },{
            image: 'xcmg.png',
            mod: 'shift-top',
        },{
            image: 'dieci.png',
            mod: '',
        },{
            image: 'liugong.jpg',
            mod: '',
        },{
            image: 'disd.jpg',
            mod: '',
        },{
            image: 'doosan.jpg',
            mod: 'lg',
        },{
            image: 'felix.png',
            mod: '',
        }
    ]
