.footer {
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 12px solid color(primary);
  background-color: color(white);
  color: color(gray);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;

  p {
    color: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
  }
}

.footer__wrap {
  @include wrapper;
}

.footer__info,
.footer__company,
.footer__nav--left,
.footer__group-2,
.footer__address {
  margin-bottom: 20px;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__title {
  margin-bottom: 10px;
  font-size: 18px;
  color: color(black);
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__item {
  margin-bottom: 4px;
  @include list-no;

  a {
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }
}

.footer__phone {
  a {
    text-decoration: none;
  }
}

.footer__made {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  a {
    display: inline-block;
    margin-left: 10px;

    @include hover {
      opacity: 0.6;
    }
  }

  svg {
    display: block;
    width: 60px;
    height: 22px;
    fill: color(black);
  }
}

@include respond-to(620px) {
  .footer {
    text-align: left;
    border-top: 14px solid color(primary);
  }

  .footer__group-1,
  .footer__group-2,
  .footer__group-3 {
    display: flex;
  }

  .footer__company,
  .footer__nav--left,
  .footer__address {
    margin-bottom: 0;
  }

  .footer__company {
    flex-shrink: 0;
    width: 200px;
    margin-right: 40px;
    padding-top: 7px;
  }

  .footer__group-2 {
    flex-grow: 1;
  }

  .footer__nav {
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__group-3 {
    flex-wrap: wrap;
    width: calc(100% - 240px);
    margin-left: auto;
  }

  .footer__nav--left,
  .footer__address {
    width: 60%;
    padding-right: 40px;
  }

  .footer__nav--right,
  .footer__phone {
    width: 40%;
  }

  .footer__made {
    justify-content: flex-start;
    margin-top: 30px;
  }
}

@include respond-to(medium-lg) {
  .footer {
    border-top: 16px solid color(primary);
  }

  .footer__wrap {
    display: flex;
  }

  .footer__group-1 {
    width: 80%;
  }

  .footer__title {
    margin-bottom: 26px;
  }

  .footer__company {
    width: 30%;
    max-width: 280px;
  }

  .footer__group-2 {
    margin-bottom: 0;
  }

  .footer__group-3 {
    display: block;
    width: 20%;
  }

  .footer__address,
  .footer__phone {
    width: 100%;
  }

  .footer__address {
    margin-bottom: 26px;
    padding-right: 0;
  }
}

@include respond-to(large) {

}
