mixin footer(data)
    -
        var nav1 = [
            'Эскаваторы',
            'Фронтальные погрузчики',
            'Погрузчики вилочные',
            'Погрузчики телескопические',
            'Погрузчики с бортовым поворотом',
            'Самосвалы Moxy',
            'Перегружатели',
            'Разрушители зданий',
            'Техника для уборки помещений',
            'Прочее',
        ];
    -
        var nav2 = [
            'О компании',
            'Техника',
            'Доп. оборудование',
            'Лизинг',
            'Сервис',
            'Отзывы',
            'Вакансии',
            'Новости',
            'Контакты',
        ];

    +el({
        tag: 'footer',
        class: 'footer',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .footer__wrap
            .footer__group-1
                .footer__company
                    +logo({
                        mix: 'footer__logo',
                    })
                    +el({
                        mix: 'footer__info',
                        text: 'Официальный дилер <br>строительной техники в Респ. <br>Башкортостан, Татарстан, <br>Поволжье, Урале'
                    })
                    +el({
                        class: 'footer__copyright',
                        text: '©&nbsp;Copyright&nbsp;2019&nbsp;г. <br>Все права защищены'
                    })
                .footer__group-2
                    .footer__nav.footer__nav--left(role='navigation' aria-label='Дополнительное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
                        h4.footer__title Техника
                        +el({
                            tag: 'ul',
                            class: 'footer__list',
                        })
                            each item in nav1
                                +el({
                                    tag: 'li',
                                    class: 'footer__item',
                                })(itemprop='name')
                                    +el({
                                        tag: 'a',
                                        text: item,
                                    })(itemprop='url')
                    .footer__nav.footer__nav--right(role='navigation' aria-label='Дополнительное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
                        h4.footer__title Информарция
                        +el({
                            tag: 'ul',
                            class: 'footer__list',
                        })
                            each item in nav2
                                +el({
                                    tag: 'li',
                                    class: 'footer__item',
                                })(itemprop='name')
                                    +el({
                                        tag: 'a',
                                        text: item,
                                    })(itemprop='url')
            .footer__group-3
                .footer__address
                    h4.footer__title Наш адрес
                    p
                        | г. Уфа, ул. Сельская Богородская,
                        br
                        |д. 51, оф. 308
                .footer__phone
                    h4.footer__title Наш телефон
                    +el({
                        tag: 'a',
                        href: 'tel:79273321792',
                        text: '+7 (927) 332 17 92'
                    })
                    .footer__made
                        | Сделанo в
                        +el({
                            tag: 'a',
                            title: 'Sheer',
                            href: 'https://sheer82.ru/'
                        })
                            +el({
                                tag: 'svg',
                                icon: 'sheer',
                            })
