.news-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-item__image-wrap {
  position: relative;
  overflow: hidden;
  display: block;
  height: 38vw;
  background-color: color(light-gray);
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    transition: duration(md) func(primary);
  }

  @include hover {
    &::after {
      opacity: 1;
    }
  }
}

.news-item__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
  transition: duration(lg);
}

.news-item__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 14px;
}

.news-item__date {
  margin-bottom: 10px;
}

.news-item__heading {
  margin-bottom: 10px;
}

.news-item__text {
  overflow: hidden;
  height: 36px;
  margin: 0;
  margin-top: auto;
  font-size: 14px;
  line-height: 18px;
}

@include respond-to(small-lg) {
  .news-item__image-wrap {
    height: 21vw;
  }
}

@include respond-to(medium-lg) {
  .news-item__image-wrap {
    height: 13vw;
  }
}

@include respond-to(large) {
  .news-item__image-wrap {
    height: 122px;
  }
}
