mixin panel-with-tabs(data)
    +el({
        class: 'panel-with-tabs',
        mod: data.mod,
        mix: data.mix,
        js: 'tabs',
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'panel-with-tabs__list',
        })&attributes(attributes)
            each item, index in data.tabs
                +el({
                    tag: 'li',
                    class: 'panel-with-tabs__item',
                    mix: index == 0 ? 'active' : '',
                })
                    +el({
                        tag: 'button',
                        class: 'panel-with-tabs__button',
                        js: 'tabs-button',

                        before: {
                            tag: 'span',
                            class: 'heading',
                            mix: 'panel-with-tabs__heading',
                            text: item,
                        }
                    })(data-tab='tab-' + (index + 1))
        each item, index in data.tabs
            +el({
                class: 'tab-' + (index + 1),
                js: 'tabs-content',
                mix: index == 0 ? 'active' : '',
            })
                .panel-with-tabs__content
                    if index == 0
                        block content1
                    else if index == 1
                        block content2
