mixin panel-with-tabs(data)
    +el({
        class: 'panel-with-tabs',
        mod: data.mod,
        mix: data.mix,
        js: 'tabs',
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'panel-with-tabs__list',

        })&attributes(attributes)
            each item, index in ['Город Уфа', 'Город Краснодар']
                +el({
                    tag: 'li',
                    class: 'panel-with-tabs__item',
                    mix: index == 0 ? 'active' : '',
                })
                    +el({
                        tag: 'button',
                        class: 'panel-with-tabs__button',
                        js: 'tabs-button',

                        before: {
                            tag: 'span',
                            class: 'heading',
                            mix: 'panel-with-tabs__heading',
                            text: item,
                        }
                    })(data-tab='tab-' + (index + 1))
        .tab-1.js-tabs-content.active
            .panel-with-tabs__content
              +shedule({
                  mix: 'panel-with-tabs__shedule',
                  items: shedule
              })
        .tab-2.js-tabs-content
            .panel-with-tabs__content
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem asperiores ducimus soluta, blanditiis quam libero est temporibus eum accusamus, debitis deleniti, officia maxime voluptatem cum. Soluta quos doloribus dolor distinctio, quia ducimus iste dolores reprehenderit ipsam perspiciatis voluptate in perferendis nobis quas ipsa suscipit natus sint repellendus quisquam repellat illo.
