mixin button-nav(data)
    +el({
        tag: 'button',
        class: 'btn-nav',
        mix: data.mix,
        js: data.js,
        mod: data.mod,
        ariaLabel: 'Открыть меню',
    })&attributes(attributes)
        +el({
            tag: 'span',
            class: 'btn-nav__icon'
        })
            +el({
                tag: 'span',
                class: 'btn-nav__icon-items'
            })
