mixin slider-brends(data)
    - var brends = ['liugong.jpg', 'liugong.jpg','liugong.jpg','liugong.jpg','liugong.jpg','liugong.jpg','liugong.jpg','liugong.jpg',]

    +el({
        class: 'slider-brends',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in brends
            +el({
                class: 'slider-brends__item',
            })
                +el({
                    class: 'slider-brends__inner',
                })
                    +el({
                        tag: 'img',
                        class: 'slider-brends__image',
                        src: 'brends/' + item
                    })
