mixin slider-brends(data)
    +el({
        class: 'slider-brends',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'slider-brends__list',
            mod: data.mod,
            mix: data.mix,
            js: 'slider-brends',
        })&attributes(attributes)
            each item in data.items
                +el({
                    class: 'slider-brends__item',
                })
                    +brend-item({
                        image: item.image,
                        mod: item.mod,
                    })
