mixin form-card(data)
    +el({
        class: 'form-card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        if data.heading
            +el({
                tag: 'h3',
                class: 'form-card__heading',
                text: data.heading,
            })
                if data.subheading
                    +el({
                        tag: 'span',
                        class: 'form-card__subheading',
                        text: data.subheading,
                    })
        .form-card__content
            block
