mixin assortiment(data)
    +el({
        tag: 'ul',
        class: 'assortiment',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in assortiment
            +el({
                tag: 'li',
                class: 'assortiment__item',
            })
                +assortiment-item({
                    heading: item.heading,
                    image: item.image,
                    href: 'equipment.html'
                })
