mixin assortiment(data)
    -
        var assortiment = [
            {
                heading: 'Экскаваторы',
                image: '01'
            },
            {
                heading: 'Фронтальные погрузчики',
                image: '02'
            },
            {
                heading: 'Погрузчики вилочные',
                image: '03'
            },
            {
                heading: 'Погрузчики телескопические',
                image: '04'
            },
            {
                heading: 'Погрузчики с бортовым поворотом',
                image: '01'
            },
            {
                heading: 'Самосвалы Moxy',
                image: '02'
            },
            {
                heading: 'Перегружатели',
                image: '03'
            },
            {
                heading: 'Разрушители зданий',
                image: '04'
            },
            {
                heading: 'Техника для уборки помещений',
                image: '05'
            },
            {
                heading: 'Прочее',
                image: '05'
            },
        ]

    +el({
        tag: 'ul',
        class: 'assortiment',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        each item in assortiment
            +el({
                tag: 'li',
                class: 'assortiment__item',
            })
                +assortiment-item({
                    heading: item.heading,
                    image: item.image
                })
