.reviews {
  margin: 0;
  padding: 0;
}

.reviews__item {
  margin-bottom: 20px;
  @include list-no;
}

@include respond-to(620px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
  }

  .reviews__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include respond-to(1024px) {
  .reviews__item {
    width: 33.33%;
  }
}
