mixin assortiment-item(data)
    +el({
        tag: 'a',
        class: 'assortiment-item',
        mod: data.mod,
        mix: data.mix,
        href: data.href,
        js: data.js,
    })(style='background-image: url(assets/images/assortiment/assortiment' + data.image + '.jpg);')&attributes(attributes)
        +el({
            tag: 'h3',
            class: 'assortiment-item__title',
            text: data.heading,
        })
